.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .add-to-favs {
    background-color: gold;
    border-radius: 4px;
    margin: 0 auto 20px;
    cursor: pointer;
  }

  .label-list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }

  .search-value {
    color: lightslategray;
    font-size: 0.7em;
  }

.label-list > li {
  border: 1px solid white

}

  .label-list > .selected {
    border-color: grey;
  }